@using BurgerShack.Web.Bll;
@using BurgerShack.Common;
@using vitorrdgs.Util.Data;

@{
    ClienteBLL clienteBLL = new ClienteBLL();

    string resultado = "";

    if (Request.HttpMethod == "GET")
    {
        if (clienteBLL.autenticado())
        {
            string acao = Request.Params["acao"];
            if (acao != null && acao.Equals("sair"))
            {
                clienteBLL.sair();
            }
            else
            {
                Response.Redirect("conta.cshtml");
            }
        }
    }
    else if (Request.HttpMethod == "POST")
    {
        if (clienteBLL.autenticado())
        {
            Response.Redirect("conta.cshtml");
        }
        else
        {
            string cpf = Request.Form["txtCPF"];
            string senha = Request.Form["txtSenha"];

            resultado = clienteBLL.autenticar(cpf, senha);
        }
    }
}
<!DOCTYPE html>
<html lang=pt-br>
<head>
    <title>@BurgerShack.Common.App.Name - Acessar</title>
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0"> <!-- Para não travar o zoom -->
    <meta name=description content=""> <!-- No máximo 360 caracteres, pode haver falhas com mais de 160 caracteres-->
    <meta name=keywords content=""> <!-- Opcional -->
    <meta name=author content="Caio Silva and vitorrdgs">
    <meta name=application-name content="@BurgerShack.Common.App.Name">
    <link rel="shortcut icon" href="~/Resources/img/favicon.png" type="image/x-icon">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="~/Resources/css/bootstrap.min.css">

    <!-- Telas Responsivas -->
    <link rel="stylesheet" type="text/css" href="~/Resources/css/default.css">
    <link rel=stylesheet media="screen and (max-width:480px)" href="~/Resources/css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="~/Resources/css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="~/Resources/css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="~/Resources/css/style1025.css">

    <!-- OUTROS COMPONENTES-->
    <link rel="stylesheet" type="text/css" href="~/Resources/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/Resources/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/Resources/css/nprogress.css" />
</head>
<body>
    <!-- CABEÇALHO -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="index.cshtml#">
                    <img class="navbar-logo" src="~/Resources/img/logo.png" alt="Logo do @BurgerShack.Common.App.Name">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.cshtml#"><i class="fas fa-home"></i> Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.cshtml#catalogo"><i class="fas fa-bars"></i> Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.cshtml#feedback"><i class="fas fa-smile"></i> Feedback</a>
                        </li>
                        @{
                            if (clienteBLL.autenticado())
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" href="~/conta.cshtml"><i class="fas fa-user-alt"></i> Minha Conta</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" href="~/acessar.cshtml"><i class="fas fa-sign-in-alt"></i> Acessar</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- CONTEUDO -->
    <section id="acessar">
        <h2>Já sou Cadastrado</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-center">
                    <form role="form" action="~/acessar.cshtml" method="post">
                        <h4>Informe seus Dados:</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" name="txtCPF" placeholder="CPF" data-mask="000.000.000-00" value="@Request.Form["txtCPF"]" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="txtSenha" placeholder="Senha" aria-describedby="ajudaSenha" required />
                            <p id="ajudaSenha" class="form-text text-muted text-right">
                                <a href="~/esqueci.cshtml">Esqueceu sua senha?</a>
                            </p>
                        </div>
                        <a href="~/cadastro.cshtml" class="btn btn-primary" role="button"><i class="fas fa-user-plus"></i> Cadastre-se</a>
                        <button type="submit" class="btn btn-default float-right"><i class="fas fa-sign-in-alt"></i> Acessar</button>
                    </form>                   
                </div>
            </div>
        </div>
    </section>

    <!-- RODAPÉ -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h5>Sobre o @BurgerShack.Common.App.Name</h5>
                    <p>O @BurgerShack.Common.App.Name é uma hamburgueria localizada no centro comercial de Alphaville, possuimos mesas para consumo, onde é possível realizar sua reserva por meio do telefone, website ou de nosso aplicativo.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5>Contatos</h5>
                    <p><a href="https://fb.me/@BurgerShack.Common.App.Facebook"><i class="fab fa-facebook-square"></i> facebook.com/@BurgerShack.Common.App.Facebook</a></p>
                    <p><a href="@BurgerShack.Common.App.Telefone"><i class="fas fa-phone"></i> @UtilFormatar.formatarTelefone(BurgerShack.Common.App.Telefone)</a></p>
                    <p><a href="mailto:@BurgerShack.Common.App.Email"><i class="fas fa-envelope"></i> @BurgerShack.Common.App.Email</a></p>
                    <p><a href="@BurgerShack.Common.App.EnderecoURL"><i class="fas fa-location-arrow"></i> @BurgerShack.Common.App.Endereco</a></p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5>Localização</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.002715489375!2d-46.85149998502341!3d-23.496411684715152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf023ca8364ffb%3A0x94549a2e18bfe648!2sCal%C3%A7ada+dos+L%C3%ADrios%2C+196+-+Alphaville+Comercial%2C+Barueri+-+SP%2C+06453-034!5e0!3m2!1spt-BR!2sbr!4v1541470650518" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript-->
    <script type="text/javascript" src="~/Resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Resources/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Resources/js/nprogress.js"></script>
    <script type="text/javascript" src="~/Resources/js/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="~/Resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Resources/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/Resources/js/script.js"></script>
    @{
        if (!String.IsNullOrEmpty(resultado))
        {
            if (resultado.StartsWith("1"))
            {
                <script type="text/javascript">
                    swal({
                        title: 'Tudo certo!',
                        html: '@Html.Raw(resultado.Substring(1, resultado.Length - 1).Replace(".", ".<br/>"))',
                        type: 'success'
                    }).then((result) => {
                        document.location = 'conta.cshtml'
                        });
                </script>
            }
            else
            {
                <script type="text/javascript">
                    swal({
                        title: 'Ops...',
                        html: '@Html.Raw(resultado.Substring(1, resultado.Length - 1).Replace(".", ".<br/>"))',
                        type: 'error'
                    });
                </script>
            }
        }
    }
</body>
</html>
