@using BurgerShack.Web.Bll;
@using BurgerShack.Common;
@{ 
    ClienteBLL clienteBLL = new ClienteBLL();

    clnCliente objCliente = clienteBLL.obterCliente();

    ReservaBLL reservaBLL = new ReservaBLL();

    string reservasTabela = reservaBLL.listarReservas(objCliente.Cod);
}

<!DOCTYPE html>
<html lang=pt-br>
<head>
    <title>BurgerShack - Minha Conta</title>
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0"> <!-- Para não travar o zoom -->
    <meta name=description content=""> <!-- No máximo 360 caracteres, pode haver falhas com mais de 160 caracteres-->
    <meta name=keywords content=""> <!-- Opcional -->
    <meta name=author content="Caio Silva and vitorrdgs">
    <meta name=application-name content="BurgerShack">
    <!-- favicon, ícone que será exibido no navegador. Resolução: 8x8 - 16x16 - 32x32px com extensão .ico -->
    <link rel="shortcut icon" href="~/Resources/img/favicon.png" type="image/x-icon">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="~/Resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/fontawesome.min.css" />

    <!-- Telas Responsivas -->
    <link rel="stylesheet" type="text/css" href="~/Resources/css/default.css">
    <link rel=stylesheet media="screen and (max-width:480px)" href="~/Resources/css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="~/Resources/css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="~/Resources/css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="~/Resources/css/style1025.css">
</head>
<body>

    <!-- CABEÇALHO -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="~/index.cshtml">
                    <img class="navbar-logo" src="~/Resources/img/logo.png" alt="Logo do BurgerShack">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/index.cshtml"><i class="fas fa-home"></i> Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/index.cshtml#catalogo"><i class="fas fa-bars"></i> Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/index.cshtml#sobre"><i class="fas fa-info"></i> Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/acessar.cshtml"><i class="fas fa-sign-in-alt"></i> Acessar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- CONTEUDO -->
    <section id="conta">
        <h2>Minha Conta</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 col-centraliza">
                    <h3>Meus Dados</h3>
                    <form class="form" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="txtNome" placeholder="Nome Completo" required value="@objCliente.Nome" />
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-mail" required disabled value="@objCliente.Email" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="txtSenha" placeholder="Senha" required value="123123" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="txtCelular" placeholder="Telefone Celular" data-mask="(00) 00000-0000" required value="@objCliente.TelCelular" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="CPF" data-mask="000.000.000-00" required disabled value="@objCliente.Cpf" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="txtCartaoNumero" placeholder="Número do Cartão" data-mask="0000 0000 0000 0000" required value="@objCliente.CartaoNumero" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="txtCartaoValidade" placeholder="Data de Validade" data-mask="00/00" required value="@objCliente.CartaoValidade" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" name="txtCartaoCVV" placeholder="CVV" size="3" required value="@objCliente.CartaoCVV" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default float-right"><i class="fas fa-exchange-alt"></i> Alterar</button>
                    </form>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12 col-centraliza">
                    <h3>Reservas</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Data</th>
                                <th>Lugares</th>
                                <th>Situação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.Raw(@reservasTabela)
                        </tbody>
                    </table>
                    <a href="~/reserva.cshtml" class="btn btn-primary" role="button"><i class="fas fa-thumbtack"></i> Nova Reserva</a>
                </div>
            </div>
        </div>
    </section>

    <!-- RODAPÉ -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h5>Sobre o Burger Shack</h5>
                    <p>O Burguer Shack é um ambiente de refeição, temos promoções e eventos com frequêcia, há um local para comer no local, podendo reservar mesas atráves do aplicativo, web e por telefone</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5>Contatos</h5>
                    <p><i class="fab fa-facebook-square"></i> facebook.com/burguershack</p>
                    <p><i class="fas fa-phone"></i> (11) 4998-5255</p>
                    <p><i class="fas fa-envelope"></i> sac@burgershack.com</p>
                    <p><i class="fas fa-location-arrow"></i> Avenida Pompéia nº 50, São Paulo - SP</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5>Localização</h5>
                    <img src="~/Resources/img/mapa.png" alt="Nossa Localização" class="img-thumbnail img-responsive">
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript-->
    <script src="~/Resources/js/jquery-3.2.1.min.js"></script>
    <script src="~/Resources/js/jquery.mask.min.js"></script>
    <script src="~/Resources/js/popper.min.js"></script>
    <script src="~/Resources/js/bootstrap.min.js"></script>
    <script src="~/Resources/js/script.js"></script>
</body>
</html>